@model ManagementEquipment.Models.Account;
<h1>Login</h1>
<style>
    .container {
        width: 500px;
    }

    .form-group {
        margin-top: 30px;
    }

    input{
        height: 50px;
    }

    label {
        font-size: 20px;
        font-weight: 500;
    }

    .btn {
        width: 100%;
        font-size: 23px;
        font-weight: 500;
    }
</style>
<body>
    <div class="container">
        <form asp-action="VerifyLogin" flex>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" placeholder="Id" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</body>
    

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
