@model ManagementEquipment.Models.Account;
<h1>Admin</h1>

<body>
    <div class="container">
        <form asp-action="VerifyLogin" flex>
            <div asp-validation-summary="All" class="text-danger"></div>
           
        </form>
    </div>
</body>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }